[Unit]
Description=NFS Mount Daemon
After=rpcbind.service nfs-server.service
Requires=rpcbind.service nfs-server.service
ConditionPathExists=@SYSCONFDIR@/exports

[Service]
EnvironmentFile=-@SYSCONFDIR@/nfs-utils.conf
ExecStart=@SBINDIR@/rpc.mountd -F $MOUNTD_OPTS

[Install]
WantedBy=multi-user.target
