[Desktop Entry]
Encoding=UTF-8
Name=Connection Manager
Comment=Connection Manager applet
Icon=stock_internet
Exec=connman-applet
Terminal=false
Type=Application
Categories=Network;GTK;

