*.pyc
*.pyo
/*.patch
build*/conf/local.conf
build*/conf/bblayers.conf
build*/downloads
build*/tmp/
build*/sstate-cache
pyshtables.py
pstage/
scripts/oe-git-proxy-socks
sources/
meta-*
!meta-skeleton
!meta-demoapps
*.swp
*.orig
*.rej
*~
documentation/adt-manual/adt-manual.html
documentation/adt-manual/adt-manual.pdf
documentation/adt-manual/adt-manual.tgz
documentation/dev-manual/dev-manual.html
documentation/dev-manual/dev-manual.pdf
documentation/dev-manual/dev-manual.tgz
documentation/poky-ref-manual/poky-ref-manual.html
documentation/poky-ref-manual/poky-ref-manual.pdf
documentation/poky-ref-manual/poky-ref-manual.tgz
documentation/poky-ref-manual/bsp-guide.html
documentation/poky-ref-manual/bsp-guide.pdf
documentation/bsp-guide/bsp-guide.html
documentation/bsp-guide/bsp-guide.pdf
documentation/bsp-guide/bsp-guide.tgz
documentation/yocto-project-qs/yocto-project-qs.html
documentation/yocto-project-qs/yocto-project-qs.tgz
documentation/kernel-manual/kernel-manual.html
documentation/kernel-manual/kernel-manual.tgz
documentation/kernel-manual/kernel-manual.pdf
documentation/mega-manual/mega-manual.html
documentation/mega-manual/mega-manual.pdf
documentation/mega-manual/mega-manual.tgz
