[Unit]
Description=Run pending postinsts
DefaultDependencies=no
ConditionPathExists=|/etc/rcS.d/S@POSTINSTALL_INITPOSITION@run-postinsts
After=systemd-remount-fs.service systemd-tmpfiles-setup.service tmp.mount
Before=sysinit.target

[Service]
ExecStart=/etc/rcS.d/S@POSTINSTALL_INITPOSITION@run-postinsts
RemainAfterExit=No
Type=oneshot
StandardOutput=syslog
TimeoutSec=0

[Install]
WantedBy=basic.target
WantedBy=sysinit.target
