[Unit]
Description=Start psplash boot splash screen
DefaultDependencies=no
RequiresMountsFor=/run

[Service]
ExecStart=/usr/bin/psplash

[Install]
WantedBy=sysinit.target
