#
# This file is intended for local configuration tweaks. It is intentionally
# set up empty, so that configuration can be constructed from fragments
# using bitbake-config-build tool and by setting MACHINE and DISTRO here.
#
# If you would like to publish this file (for example as a bitbake
# configuration template), it is recommended to create fragments
# from changes made here; the only settings that can remain are
# MACHINE and DISTRO.
#
