[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Shutdown
Comment=Close down the machine safely
Exec=halt
Icon=system-shutdown
Terminal=false
Categories=Utility;
StartupNotify=true