[Desktop Entry]
Name=Video
Exec=video
Icon=video-player
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;
X-MB-SingleInstance=true
StartupNotify=true
Comment=Video Player
